/* styling properties to display cards inline (until i figure out how to do it with bootstrap) */
.inline {
    display: inline-block;
}
.poster {
    max-width: 100%;
}

.card {
    /* margin:30px; */
    max-width:10em;
    border: none;
    text-align:left;
    
}
.media-title{
    text-align: left;
    padding-top: 5px;
    max-width: 100%;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    font-weight: bold;
    /* font-size:14px; */
    
}
.media-subtitle{
    font-weight: lighter;
    text-align: left;
    padding:0;
    /* padding-top: 5px; */
}
body {
    background: #272727;
}
.container {
    background: white;
    border-radius:5px;
}
.series-content{
    margin: 0 auto;
    
    text-align: center;
}